.header {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 100px 1fr;
  height: 40px;
  align-items: center;
  background-color: rgba(255, 100, 50, 0.2);
}

.header__logo {
  margin-left: 5px;
  border-radius: 50%;
  object-fit: cover;
  width: 30px;
  height: 30px;
}
.header__nav {
  display: grid;
  text-align: center;
  align-items: center;
}
.header__nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.header__nav a {
  text-decoration: none;
  color: black;
}
