@font-face {
  font-family: "ubuntu";
  src: url(../../public/fuentes/Ubuntu-Regular.ttf) format("truetype");
  font-weight: bold;
  font-display: block;
}

* {
  margin: 0;
  padding: 0;
}

/* html {
  font-size: 14px;
} */

body {
  box-sizing: border-box;
  background-color: #f3f4f6;
  font-family: "ubuntu";
  font-size: small; /*1rem*/
}
